html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

.Odin {
    font-family: Monaco, "Lucida Console", monospace;
    color: darkgray;
}

.Recipes {
    font-family: "Lucida Handwriting", "Brush Script M7", cursive;
    color: maroon;
}

h1 {
    text-align: left;
    background-color: beige;
    border: 2px solid lightblue;
}

img {
    display: block;
    margin: left
    
}